<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RTMS_Aero_ConnectionString" connectionString="Data Source=INDT2245;Initial Catalog=RTMSPRD.Aero;User ID=sa;Password=Quest1234"  providerName="System.Data.SqlClient" />
    <add name="RTMS_AMS_App_ConnectionString" connectionString="Data Source=BLRDT0384\BLRDT0384;Initial Catalog=RTMS.Demo.App;User ID=sa;Password=Quest1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="AuthorizeKey" value="INDT4016:172.18.49.9,INBLRRWEB01:172.16.4.17,INBLRRDEV01:172.16.4.27,INDT2233:172.18.50.106,BLRDT0384:172.18.50.220,INDT2245:172.18.50.197,INDT2158:172.18.50.27"/>
    <add key="AuthorizePath" value="D:\\"/>
  </appSettings>
  <!--<configSections>
    <section name="BlogSettings" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />

  </startup>
  <BlogSettings
    frontPagePostCount="10"
    title="You’ve Been Haacked" />-->
</configuration>